@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640261033119') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangzhu:before {
  content: "\f0143";
}

.icon-xiangxia:before {
  content: "\f0170";
}

.icon-fenlei:before {
  content: "\f00d6";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-jiantou2:before {
  content: "\e615";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-sanjiaoleft:before {
  content: "\e6b6";
}

.icon-sanjiaoright:before {
  content: "\e6b7";
}

.icon-fouricon:before {
  content: "\e627";
}

.icon-spread-h-bar:before {
  content: "\e602";
}

.icon-shangjiantou:before {
  content: "\f034d";
}

.icon-xiajiantou:before {
  content: "\f034e";
}

.icon-youjiantou:before {
  content: "\f034f";
}

.icon-fangkuai:before {
  content: "\e53b";
}

.icon-jinrujiantouxiao:before {
  content: "\e8b9";
}

.icon-jinrujiantouxiao1:before {
  content: "\e8d4";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-hengxian:before {
  content: "\e753";
}

.icon-xiajiantou1:before {
  content: "\eb6d";
}

.icon-shangjiantou1:before {
  content: "\eb6e";
}

.icon-xialajiantouxiao:before {
  content: "\e907";
}

.icon-shouqijiantouxiao:before {
  content: "\e908";
}

.icon-icon_xiajiantou:before {
  content: "\e6bd";
}

.icon-gouwuche:before {
  content: "\e67e";
}

.icon-shangjiantou2:before {
  content: "\e657";
}

.icon-youjiantou1:before {
  content: "\e658";
}

.icon-zuojiantou-:before {
  content: "\e659";
}

.icon-xiajiantou-:before {
  content: "\e632";
}

.icon-sidebar-toggle:before {
  content: "\e503";
}

.icon-danse_gengduojiantou:before {
  content: "\e643";
}

.icon-hengxian1:before {
  content: "\e502";
}

.icon-xiajiantou2:before {
  content: "\e60c";
}

.icon-xiajiantou_huaban:before {
  content: "\e63e";
}

.icon-wupindiushi:before {
  content: "\e79b";
}

.icon-fangdajing:before {
  content: "\e6d9";
}

.icon-kehuyuyue:before {
  content: "\e775";
}

.icon-black:before {
  content: "\e7dd";
}

.icon-gongxiangche:before {
  content: "\e6c1";
}

